<b>Name: Christ-Brian Amedjonekou  
Date: 10/15/2018  
EET 2162 (Digital Electronics) Lab 2  
Fall 2018, Section: E242, Code: 35757  
Instructor: Youngsik Song  </b>

## Objective


* Test and construct the truth table for a two input NAND gate.
* Test and construct the truth table for a two input NOR gate.
* Implement applications using NAND gates.

## Brief Theory/Theoretical Background

The basic premise the following:

* NAND gates are a combination of AND gates coupled with NOT gates (inverters). Thus the NAND gate produces truth values opposite that of an AND gate. Remember, for AND gates you only get a true value (or 1, digitally) when both inputs were turned "ON", and false for everything else. The opposite is true for NAND gates as aforementioned. For NAND gates you get a true value (or 1, digitally) when the following occurs: True, False; False, True; False, False (two inputs). When both inputs were turned "ON" (True, True) you get a false value for the output.


* NOR gates are a combination of OR gates coupled with NOT gates (inverters). Thus the NOR gate produces truth values opposite that of the OR gate. Remember, for OR gates you only get a true value (or 1, digitally) when either of the imputs or both were turned on, and false for everything else. The opposite is true for NOR gates as aforementioned. For NOR gates, you get a "False" value (or 0, digitally) when either of the imputs or both are turned "ON". You get a "True" output when both inputs are turned "OFF".


* You can build any type of logic circuit using NAND gates.

## EXPECTED RESULTS from THEORY

* I expect that we will be able to replicate/prove the theory higlighted highlighted above as well as build any type of logic circuit using NAND gates.

## PROCEDURE OF THE EXPERIMENT: equipment used, diagrams and schematics of circuits, and explanations how you perform measurements.


#### Equipment

* DIGIAC 3000
* Experimental Module

#### Brief Overview about the Procedure:

* Basically we are testing true/false values of the NAND and NOR logic gates (combination gate coupling either the AND or the OR gate with the NOT gate). The first thing we did was verify the NAND gate was logically equivalent to the combination of AND and NOT gates. We repeated the process verifying that the NOR gate was logically equivalent to the combination of OR and NOT gates. Then we built two circuits using only NAND gates.

##### Tables and circuits are presented below in the "EXPERIMENTAL RESULTS" section.


#### Run 1: NAND Gate

1. Construct the 2 input NAND gate Circuit as shown in Fig. 2.1 
<p></p>
2. Using logic sources switches $I0$ and $I2$ as inputs and logic monitor $Q0$ as an output, measure and complete the Table 2.1.
<p></p>
3. Power Down all logic input switches.

#### Run 2: NAND Gate Equivalent

1. Construct the 2 input NAND gate Circuit as shown in Fig. 2.2. 
<p></p>
2. Using logic sources switches $I0$ and $I2$ as inputs and logic monitor $Q0$ as an output, measure and complete the Table 2.2.
<p></p>
3. Power Down all logic input switches.


#### Run 3: NOR Gate

1. Construct the 2 input NOR gate Circuit as shown in Fig. 2.3. 
<p></p>
2. Using logic sources switches $I0$ and $I2$ as inputs and logic monitor $Q0$ as an output, measure and complete the Table 2.3.
<p></p>
3. Power Down all logic input switches.



#### Run 4: NOR Gate Equivalent

1. Construct the 2 input NOR gate Circuit as shown in Fig. 2.4. 
<p></p>
2. Using logic sources switches $I0$ and $I2$ as inputs and logic monitor $Q0$ as an output, measure and complete the Table 2.4.
<p></p>
3. Power Down all logic input switches.


#### Run 5: Pilot Ejection (Pilot to openplane canopy and then eject)

1. Use two switches:

    * Switch one to represent opening of the canopy. 
    * Switch two to represent ejecting from the plane. 
    ***
2. Use two lamps:
   
   * Lamp one to show canopy opened.
   * Lamp two to show pilot ejected.  
   *** 
3. Conditions to be met:  

    * Whichever switch is toggled first, lamp one must come on
	* Then, when other switch is toggled, lamp two comes on  


#### Run 6 Three Voters (NAND Gates Only)

***Assume that three of the switches on the DIGIAC represent three voters is an election. If the person votes NO, the switch remains DOWN - if the vote is yes, the switch goes UP***

1. Lamp 1 represents a majority of votes is NO
2. Lamp 4 represents a majority of votes is YES

***Wire the logic circuits so that the proper lamp goes on for all possible combinations of votes***

## EXPERIMENTAL RESULTS: measured values in tables and graphs

In [1]:
import pandas as pd

data2 = {'Run 1': ['I2', 0, 0, 1, 1], 'NAND Gate with 2 Inputs_0': ['I0', 0, 1, 0, 1],
         'NAND Gate with 2 Inputs_1': ['Q0', 1, 1, 1, 0]}

data3 = {'Run 2': ['I2', 0, 0, 1, 1], 'NAND Gate with 2 Inputs_0': ['I0', 0, 1, 0, 1],
         'NAND Gate with 2 Inputs_1': ['Q0', 1, 1, 1, 0]}


data4 = {'Run 3': ['I2', 0, 0, 1, 1], 'NOR Gate with 2 Inputs_0': ['I0', 0, 1, 0, 1],
         'NOR Gate with 2 Inputs_1': ['Q0', 1, 0, 0, 0]}

data5 = {'Run 4': ['I2', 0, 0, 1, 1], 'NOR Gate with 2 Inputs_0': ['I0', 0, 1, 0, 1],
         'NOR Gate with 2 Inputs_1': ['Q0', 1, 0, 0, 0]}

df2 = pd.DataFrame.from_dict(data2)
df3 = pd.DataFrame.from_dict(data3)
df4 = pd.DataFrame.from_dict(data4)
df5 = pd.DataFrame.from_dict(data5)

### RUN 1

In [3]:
df2

  Run 1 NAND Gate with 2 Inputs_0 NAND Gate with 2 Inputs_1
0    I2                        I0                        Q0
1     0                         0                         1
2     0                         1                         1
3     1                         0                         1
4     1                         1                         0

### RUN 2

In [4]:
df3

  Run 2 NAND Gate with 2 Inputs_0 NAND Gate with 2 Inputs_1
0    I2                        I0                        Q0
1     0                         0                         1
2     0                         1                         1
3     1                         0                         1
4     1                         1                         0

### RUN 3

In [5]:
df4

  Run 3 NOR Gate with 2 Inputs_0 NOR Gate with 2 Inputs_1
0    I2                       I0                       Q0
1     0                        0                        1
2     0                        1                        0
3     1                        0                        0
4     1                        1                        0

### RUN 4

In [6]:
df5

  Run 4 NOR Gate with 2 Inputs_0 NOR Gate with 2 Inputs_1
0    I2                       I0                       Q0
1     0                        0                        1
2     0                        1                        0
3     1                        0                        0
4     1                        1                        0

### Run 5

### Run 6

## QUESTIONS LISTED IN THE LAB MANUAL

**1. Summarize the results of Run 1 and 2 with a statement which describes the operations of a NAND gate.**  

* **NAND gates** are a combination of AND gates coupled with NOT gates (inverters). Thus the NAND gate produces truth values opposite that of an AND gate. Remember, for AND gates you only get a true value (or 1, digitally) when both inputs were turned "ON", and false for everything else. The opposite is true for NAND gates as aforementioned. For NAND gates you get a true value (or 1, digitally) when the following occurs: True, False; False, True; False, False (two inputs). When both inputs were turned "ON" (True, True) you get a false value for the output.

**2. Summarize the results of Run 3 and 4 with a statement which describes the operations of an NOR gate**

* **NOR gates** are a combination of OR gates coupled with NOT gates (inverters). Thus the NOR gate produces truth values opposite that of the OR gate. Remember, for OR gates you only get a true value (or 1, digitally) when either of the imputs or both were turned on, and false for everything else. The opposite is true for NOR gates as aforementioned. For NOR gates, you get a "False" value (or 0, digitally) when either of the imputs or both are turned "ON". You get a "True" output when both inputs are turned "OFF".

**3. Construct the truth table and results of Run 5**

* Seen in the Experiment Results section above

**4. Construct the truth table and results of Run 6**

* Seen in the Experiment Results section above

**5. Include diagrams and simulations of Multisim from all above Runs**

* Seen in the Experiment Results section above

## DISCUSSION/ANALYSIS:

## CONCLUSION: 

* We were successful with conducting our experiment. We were able to confirm the theory about the logic gates, the TTL levels for digital output signals.