<b>Name: Christ-Brian Amedjonekou  
Date: 09/17/2018  
EET 2162 (Digital Electronics) Homework 1   
Fall 2018, Section: E242, Code: 35757  
Instructor: Youngsik Song  </b>

### Question 1.1

* Which is analog and which is digital?

    * <b>Digital</b>: (a) Number of atoms in a sample material, (e) Timer setting on a microwave over
    
    * <b>Analog</b>: (b) Altitude of an Aircraft, (c) Pressure in a bike tire, (d) Current through a speaker
    
    
### Question 1.3

* Convert from Binary to Decimal

    * $11001_{2} = 1 * 2^4 + 1 * 2^3 + 0 * 2^2 + 0 * 2^1 + 1 * 2^0 = 25$ 
    <p></p>
    * $1001.1001_{2}$:  
    
    $$1 * 2^3 + 0 * 2^2 + 0 * 2^1 + 1 * 2^0 = 9$$    
    $$1 * 2^-1 + 0 * 2^-2 + 0 * 2^-3 + 1 * 2^-4 = .5625$$  
    $$9 + 0.5625 = 9.5625$$  
    
    * $10011011001.10110_{2} = 1241.6875$
    
### Question 1.5

* Binary sequence from 000 to 111

In [11]:
import pandas as pd
data = {'Base 10': [x for x in range(0,8)], 
        'Base 2': ['000', '001', '010', '011', '100', '101', '110', '111']}
df = pd.DataFrame.from_dict(data)
df

   Base 10 Base 2
0        0    000
1        1    001
2        2    010
3        3    011
4        4    100
5        5    101
6        6    110
7        7    111

### Question 1.9

* Max number of bit needed for 511

    * $511_{10} = 111111111_{2}$
    * $9 \text{ bits}$

### Question 2.1

* Convert from Binary to Decimal

$$10110_{2} = 1 * 2^4 + 0 + 1 * 2^2 + 1 * 2^1 + 0 = 22$$  
$$11111111_{2} = 1 * 2^7 + 1 * 2^6 + 1 * 2^5 + 1 * 2^4 + 1 * 2^3 + 1 * 2^2 + 1 * 2^1 + 1 * 2^0 = 255$$  
$$100100001001_{2} = 1 * 2^11 + 0 + 0 + 1 * 2^8 + 0 + 0 + 0 + 0 + 1 * 2^3 + 0 + 0 + 1 * 2^0 = 2313$$  
$$1111010111_{2} = 1 * 2^9 + 1 * 2^8 + 1 * 2^7 + 1 * 2^6 + 0 + 1 * 2^4 + 0 + 1 * 2^2 + 1 * 2^1 + 1 * 2^0 = 983$$

### Question 2.2

* Convert Decimal to Binary

$$37_{10} \rightarrow 37 \text{ mod } 2 = 1; 18 \text{ mod } 2 = 0; 9 \text{ mod } 2 = 1; 4 \text{ mod } 2 = 0; 2 \text{ mod } 2 = 0; 1 \text{ mod } 2 = 1 \rightarrow 100101_{2}$$  
$$77_{10} \rightarrow 77 \text{ mod } 2 = 1; 38 \text{ mod } 2 = 0; 19 \text{ mod } 2 = 1; 9 \text{ mod } 2 = 1; 4 \text{ mod } 2 = 0; 2 \text{ mod } 2 = 0; 1 \text{ mod } 2 = 1 \rightarrow 1001101_{2}$$  
$$205_{10} \rightarrow 205 \text{ mod } 2 = 1; 102 \text{ mod } 2 = 0; 51 \text{ mod } 2 = 1; 25 \text{ mod } 2 = 1; 12 \text{ mod } 2 = 0; 6 \text{ mod } 2 = 0; 3 \text{ mod } 2 = 1; 1 \text{ mod } 2 = 1 \rightarrow 11001101_{2}$$  
$$511_{10} \rightarrow 511 \text{ mod } 2 = 1; 255 \text{ mod } 2 = 1; 127 \text{ mod } 2 = 1; 63 \text{ mod } 2 = 1; 31 \text{ mod } 2 = 1; 15 \text{ mod } 2 = 1; 7 \text{ mod } 2 = 1; 3 \text{ mod } 2 = 1; 1 \text{ mod } 2 = 1 \rightarrow 11111111_{2}$$

### Question 2.5

* Convert to hex

$$59_{10} \rightarrow 00111011_{2} \rightarrow 0011_{2} = 3; 1011_{2} = B \rightarrow 3B_{16}$$  

$$771_{10} \rightarrow 001100000011_{2} \rightarrow 0011_{2} = 3; 0000_{2} = 0; 0011_{2} = 3 \rightarrow 303_{16}$$  

$$919_{10} \rightarrow 001110010111_{2} \rightarrow 0011_{2} = 3; 1001_{2} = 9; 0111_{2} = 7 \rightarrow 397_{16}$$  

$$65536_{10} \rightarrow 10000000000000000_{2} \rightarrow 0001_{2} = 1; 0000_{2} = 0; 0000_{2} = 0; 0000_{2} = 0; 0000_{2} = 0 \rightarrow 10000_{16}$$

### Question 2.11

* Convert Hex to Decimal

$$92_{16} \rightarrow 10010010_{2} \rightarrow 146_{10}$$  
$$37FD_{16} \rightarrow 0011011111111101_{2} \rightarrow 14333_{10}$$  
$$000F_{16} \rightarrow 0000000000001111_{2} \rightarrow 15_{10}$$  
$$2C0_{16} \rightarrow 001011000000_{2} \rightarrow 704_{10}$$

### Question 2.19

* Encode to BCD

$$1001011101010010_{2} = 9752_{BCD}$$  
$$011010010101_{2} = 695_{BCD}$$  
$$010010010010_{2} = 492_{BCD}$$

### Question 2.27

$$74_{10} = 101110100_{2}$$  
$$8884_{10} = 11000100010000100_{2}$$  
$$165_{10} = 1000101100101_{2}$$