# SF Salaries Exercise 

This notebook is based on the a quick Kaggle exercise, SF Salaries (link: [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries)).

<b>First we import pandas (use shortcut "pd").</b>

In [4]:
import pandas as pd

<b>Then with pandas we Read Salaries.csv as a dataframe called salaries_df.</b>

In [5]:
salaries_df = pd.read_csv("Salaries.csv")

<b>Now we want a quick view of the dataframe so we check the head of the DataFrame.</b>

In [6]:
salaries_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<b>We're also interested in the number of entries so we use the ".info()" method.</b>

In [7]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

## Questions we're interested in answering

#### What is the average BasePay ?

In [8]:
salaries_df['BasePay'].fillna(value=salaries_df['BasePay'].mean())

0         167411.18000
1         155966.02000
2         212739.13000
3          77916.00000
4         134401.60000
5         118602.00000
6          92492.01000
7         256576.96000
8         176932.64000
9         285262.00000
10        194999.39000
11         99722.00000
12        294580.02000
13        271329.03000
14        174872.64000
15        198778.01000
16        268604.57000
17        140546.87000
18        168692.63000
19        257510.59000
20        257510.48000
21        257510.44000
22        140546.88000
23        168692.63000
24        140546.86000
25        256470.41000
26         92080.80000
27        168692.59000
28        261717.60000
29        246225.60000
              ...
148624         0.00000
148625         0.00000
148626         0.00000
148627         0.00000
148628         0.00000
148629         0.00000
148630         0.00000
148631         0.00000
148632         0.00000
148633         0.00000
148634         0.00000
148635         0.00000
148636         0.00000
148637         0.00000
148638         0.00000
148639         0.00000
148640         0.00000
148641         0.00000
148642         0.00000
148643         0.00000
148644         0.00000
148645         0.00000
148646     66325.44884
148647         0.00000
148648         0.00000
148649         0.00000
148650     66325.44884
148651     66325.44884
148652     66325.44884
148653         0.00000
Name: BasePay, Length: 148654, dtype: float64

In [9]:
salaries_df['BasePay'].mean()

66325.4488404877

#### What is the highest amount of OvertimePay in the dataset ?

In [10]:
salaries_df['OvertimePay'].max()

245131.88

#### What is the job title of  JOSEPH DRISCOLL?

In [43]:
salaries_df[salaries_df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

#### How much does JOSEPH DRISCOLL make (including benefits)?

In [45]:
salaries_df[salaries_df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

#### What is the name of highest paid person (including benefits)?

In [50]:
salaries_df[salaries_df['TotalPayBenefits'] == salaries_df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

#### What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [51]:
salaries_df[salaries_df['TotalPayBenefits'] == salaries_df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

$$\textbf{Joe Lopez has no Base Pay of Salary of any kind and actually owes some money.}$$

#### What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [58]:
salaries_df.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

#### How many unique job titles are there?

In [65]:
salaries_df['JobTitle'].nunique()

2159

#### What are the top 5 most common jobs?

In [73]:
salaries_df['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

#### The amount of Job Titles represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [85]:
sum(salaries_df[salaries_df['Year']==2013]['JobTitle'].value_counts() == 1)

202

#### How many people have the word Chief in their job title?

In [86]:
def string_ChiefinString(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [89]:
sum(salaries_df['JobTitle'].apply(lambda x: string_ChiefinString(x)))

477

 #### Bonus: Is there a correlation between length of the Job Title string and Salary?

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

$$\textbf{END}$$